@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-SemiBold.woff2') format('woff2'),
    url('../fonts/Poppins-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Bold.woff2') format('woff2'),
    url('../fonts/Poppins-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.woff2') format('woff2'),
    url('../fonts/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Medium.woff2') format('woff2'),
    url('../fonts/Poppins-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    color: #172F53;
    max-width: 1920px;
    margin: 0 auto;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

/* SITE HEADER */
.site-header{
    background-color: #F6F8FF;
}

.container{
    margin: 0 auto;
    max-width: 1680px;
    box-sizing: border-box;
    padding-right: 22px;
    padding-left: 22px;
}

.site-header__container{
    padding-top: 62px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
}

.logo{
    display: block;
    margin-right: 150px;
}

.nav-lists{
    display: flex;
    list-style: none;
}

.nav-list{
    margin-right: 62px;
}

.nav-link{
    font-family: 'Poppins';
    color: #172F53;
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

ul .nav-link::after{
    content: "";
    display: inline-block;
    background-image: url(../img/tick.svg);
    background-repeat: no-repeat;
    width: 13px;
    height: 10px;
    margin-left: 15px;
}

.button-signIn{
    margin-left: auto;
}

.button-primery{
    margin-left: 50px;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 9px 26px;
}

/* ABOUT US */
.about-us{
    background-color: #F6F8FF;
    background-image: url(../img/boxes.png);
    background-repeat: no-repeat;
    background-position: 100% -64px;
}

.main-title{
    font-weight: bold;
    font-size: 72px;
    line-height: 108px;
    margin-top: 0;
    padding-top: 170px;
}

.main-text{
    font-weight: normal;
    font-size: 30px;
    line-height: 45px;
    color: #7D7D7D;
    padding-bottom: 357px;
    margin-bottom: 0;
}

.min_container{
    max-width: 684px;
}


/* FORM */
.form__container{
    max-width: 1489px;
    padding: 41px 73px 70px 71px;
    box-sizing: border-box;
    margin-top: -146px;
    margin-left: 142px;
    margin-right: 289px;
    background: #FFFFFF;
    box-shadow: 8px 8px 100px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.form-title{
    font-weight: 600;
    font-size: 35px;
    line-height: 52px;
    margin: 0;
}

.form-text{
    font-weight: normal;
    font-size: 25px;
    line-height: 37px;
    margin: 0;
    margin-bottom: 30px;
}

.tracking_number{
    width: 913px;
    padding: 31px 40px;
    background-color: #EFEFEF;
    border-radius: 10px;
    font-weight: normal;
    font-size: 25px;
    line-height: 37px;
    color: #9F9F9F;
}


/* GENERAL BUTTON STYLES */
.button{
    background: #21D8E3;
    border-radius: 10px;
    padding-top: 31px;
    padding-bottom: 31px;
    font-weight: bold;
    font-size: 25px;
    line-height: 37px;
    color: #FFFFFF;
}

input{
    border: none;
}
/*  */


.track_parcel{
    padding-left: 88px;
    padding-right: 88px;
    margin-left: 90px;
}


/* OFFERS */
.offers__title{
    max-width: 852px;
    margin: 0 auto;
    font-weight: bold;
    font-size: 52px;
    line-height: 78px;
    text-align: center;
    color: #172F53;
    margin-top: 170px;
}

.offers--span{
    display: block;
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    color: #A9A9A9;
}

.special_offers{
    width: 1595px;
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    margin: 0 auto;
    margin-top: 94px;
}

.offer_section{
    width: 350px;
    background: #F6F8FF;
    border-radius: 20px;
    margin-right: 65px;
    padding: 30px;
    padding-bottom: 76px;
    box-sizing: border-box;
}

.offer_section:nth-child(4n){
    margin-right: 0;
}

.offer_section__title{
    font-weight: bold;
    font-size: 32px;
    line-height: 48px;
}

.offer_section__title::after{
    content: "";
    display: block;
    width: 120px;
    height: 120px;
    background-position: 32% 32%;
    border-radius: 50%;
    margin-top: 34px;
    margin-bottom: 39px;
    box-shadow: 18px 18px 50px rgba(0, 0, 0, 0.05);
}

.offer_section__title-first::after{
    background-image: url(../img/gift.png);
}

.offer_section__title-second::after{
    background-image: url(../img/airplan.png);
}

.offer_section__title-third::after{
    background-image: url(../img/prisel.png);
}

.offer_section__title-fourth::after{
    background-image: url(../img/car.png);
}

.offer_section__title__text{
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #A9A9A9;
}

.offer_section__title--span{
    color: #172F53;
}

.offer_section:hover .offer_section__title__text{
    color: rgb(219, 225, 255);
}

.offer_section:hover{
    background-color: #5F5FFE;
}
.offer_section:hover .offer_section__title--span,
.offer_section:hover{
    color: #fff;
}


/* REGIRTRATING */
.registering{
    padding-top: 240px;
    padding-bottom: 44px;
    margin-left: 142px;
    margin-right: 163px;
    background-image: url(../img/sale.png);
    background-repeat: no-repeat;
    background-position: 100% 173px;
}

.registering__title{
    width: 854px;
    font-weight: bold;
    font-size: 52px;
    line-height: 78px;
}

.registering__text{
    width: 950px;
    font-weight: normal;
    font-size: 30px;
    line-height: 45px;
    color: #7D7D7D;
}

.button-registration{
    display: inline-block;
    padding-left: 73px;
    padding-right: 70px;
    text-decoration: none;
}

.button-registration::after{
    content: "";
    display: inline-block;
    background-image: url(../img/Vector.svg);
    background-position: 50% 50%;
    width: 18px;
    height: 21px;
    margin-left: 12px;
    transform: translateY(3px);
}


/* PARTNERSHIP */
.partnership__title{
    margin-top: 178px;
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    color: #A9A9A9;
    
}

.partnership__second-title{
    width: 697px;
    margin: 0 auto;
    margin-bottom: 94px;
    font-weight: bold;
    font-size: 52px;
    line-height: 78px;
    text-align: center;
    color: #172F53;   
}

.markets-links{
    width: 1489px;
    margin: 0 auto;
    padding: 105px 96px;
    background: #FFFFFF;
    box-shadow: 8px 8px 100px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    box-sizing: border-box;
    margin-bottom: 185px;
}

.market-link{
    display: inline-block;
    margin-right: 83px;
    vertical-align: middle;
}

.market-link:nth-child(4n){
    margin-right: 0;
}

.market-link img{
    display: block;
}